<div>
  <div class="w-full flex items-center justify-between">
    <div class="flex gap-4">
      <h1 class="text-3xl font-bold text-emerald-600"><%= @user.name %></h1>
      <p class="px-3 text-white text-sm flex justify-center items-center rounded font-semibold <%= @user.active? ? 'bg-emerald-500' : 'bg-red-500' %>"><%= @user.active? ? t(".active") : t(".disabled") %></p>
    </div>

  <% if Current.user.admin? %>
    <%= button_to (@user.active? ? t(".deactivate") : t(".activate")),
        toggle_status_user_path(@user),
        method: :patch,
        class: "px-4 py-2 rounded text-white cursor-pointer #{ @user.active? ? 'bg-red-500' : 'bg-emerald-500'}" %>
  <% end %>
  </div>
</div>
