<h1> Editar Nível de Experiência </h1>

<% if @experience_level.errors.any? %>
  <ul>
    <% @experience_level.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render "form" %>