<% if notice %>
  <div class="container px-5 py-3 my-4 mx-auto text-sm rounded-lg bg-green-200 text-green-500">
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="container px-5 py-3 my-4 mx-auto text-sm rounded-lg bg-red-200 text-red-500">
    <%= alert %>
  </div>
<% end %>