<% if notice %>
  <div class="p-4 mb-4 text-sm rounded-lg bg-green-200 text-green-500">
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="p-4 mb-4 text-sm rounded-lg bg-red-200 text-red-500">
    <%= alert %>
  </div>
<% end %>