<div class="flex flex-col">
<h1 class="mb-10">Upload de dados</h1>
    <%= form_with url: job_batches_path do |f| %>
        <%= f.label :upload, t('.upload_file'), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= f.file_field :upload, class: 'text-sm text-stone-500
            file:mr-5 file:py-1 file:px-3 file:border-[1px]
            file:text-xs file:font-medium
            file:bg-stone-50 file:text-stone-700
            hover:file:cursor-pointer hover:file:bg-blue-50
            hover:file:text-blue-700' %>

        <%= f.submit 'Enviar', class: 'block mt-4 bg-gray-300 px-5'%>
    <% end %>
</div>